@import './utils/vars';
@import './utils/common';
@import './components/logo';
@import './components/header';
@import './components/hero';
@import './components/features';
@import './components/work';
@import './components/team';
@import './components/socialNet';
@import './components/clients';
@import './components/footer';
@import './components/footerForm';
@import './components/modal';
@import './components/portfolioHeader';
@import './components/projects';
@import './components/mob-menu';