.backdrop {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;

  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--hero-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--hero-title-color);
  cursor: pointer;
  @extend %centered;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: var(--accent-color);
  }
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  position: relative;
}

.field-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--form-color);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--accent-color);
  }
}

.field-input:focus + .form-svg {
  fill: var(--accent-color);
}

.input-wrap {
  position: relative;
}

.form-svg {
  position: absolute;
  left: 12px;
  top: 11px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

textarea {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid var(--form-color);
  border-radius: 4px;
  resize: none;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--accent-color);
  }
}

.form-textarea textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);

  margin-bottom: 4px;
}

.checkbox-link {
  color: var(--accent-color);
  text-decoration: none;
  display: block;
  margin-left: 5px;

  &::after {
    content: "";
    width: 100%;
    height: 1.5px;
    background-color: var(--accent-color);
    display: block;
  }
}

.form .checkbox-label {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
  @extend %centered;
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.check-icon {
  margin-right: 7px;
  cursor: pointer;
}

.check {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .check-icon > .check {
  opacity: 1;
}

.checkbox:checked + .check-icon > .square {
  opacity: 0;
}

.form button {
  width: 200px;
  height: 50px;
  margin: auto;
  display: block;
  background-color: var(--accent-color);
  color: var(--hero-title-color);
  border: none;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.no-scroll {
  overflow: hidden;
}
